body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden; /* スクロールバーを非表示 */
  position: relative; /* 子要素を絶対位置にするため */
}

#logoElement {
  display: none; /* 初期状態で非表示 */
  position: absolute;
  top: 80%; /* ロゴを下に配置 */
  left: 50%;
  transform: translate(-50%, -50%); /* 中央配置 */
  z-index: 10; /* 他の要素の上に表示 */
  width: 20%; /* ロゴの幅を20%に設定 */
  height: auto; /* 高さは自動調整 */
}

#displayText {
  position: absolute;
  top: 50vh; /* テキストを下に配置 */
  left: 50vh;
  transform: translate(-50%, -50%); /* 水平方向に中央配置 */
  font-size: 24px; /* テキストサイズ */
  color: white; /* テキスト色 */
  text-align: center; /* 中央揃え */
  z-index: 20; /* テキストを最前面に表示 */
}

#media {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

#media.tile {
  display: flex; /* タイル表示 */
  flex-wrap: wrap; /* 複数行にする */
}

#media.tile > * {
  background-size: cover;
  background-position: center;
  border: none; /* 境界線を消す */
}

.invertColor {
  filter: invert(100%);
}
